*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

html {
  font-size: 100%;
  /* 1rem = 16px */
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  overflow: visible;
  -webkit-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

/* fieldset {
  padding: 0;
  margin: 0;
} */

legend {
  display: none;
}

hr {
  border: none;
  border-top: 1px solid currentColor;
  color: inherit;
}

body {
  font-family: var(--font);
  font-weight: normal;
  color: #000;
  background: #fff;
  color: var(--on-surface);
  background-color: var(--surface);
  overflow-x: hidden;
}

article,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

label {
  font-size: 0.75rem;
  vertical-align: baseline;
}

a,
button,
.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: inherit;
  justify-content: center;
  transition: transform var(--speed-fast) ease-out;
}

button,
.button {
  &:active {
    transform: var(--scale-sm);
  }
}

a,
button,
.button,
i,
label {
  user-select: none;
}

/* input autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: transparent !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: transparent;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: content-box transparent;
  border: 2px solid transparent;
  border-radius: .5rem;
  min-height: 48px;
  min-width: 48px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: content-box rgb(196, 199, 197);
}

:hover::-webkit-scrollbar-thumb {
  background: content-box #dde3ea;
}

::-webkit-scrollbar-button {
  width: 0; 
  height: 0;
}
