/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

/* Outline Icon Font */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-display: block;
  src: url("./fonts//outlined.woff2") format('woff');
}

/* Rounded Icon Font */
@font-face {
  font-family: 'Material Icons Rounded';
  font-style: normal;
  font-display: block;
  src: url("./fonts//rounded.woff2") format('woff');
}

/* Subset Icon Font */
@font-face {
  font-family: 'Material Icons Subset';
  font-style: normal;
  font-display: block;
  src: url("./fonts//subset.woff2") format('woff');
}

/* Sharp Icon Font */
@font-face {
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-display: block;
  src: url("./fonts//rounded.woff2") format('woff');
}